
  h1{
    color: #862d59;
    border-style: solid;
    border-width: 1px;
    border-color: blue;
    width: 25%;
  }
  h2{
    color: #000033;
    border-style: ridge;
    border-width: 2px;
    border-color: red;
    width: 35%;
  }
  h3{
    color: #999900;
    border-style:dotted;
    border-width: 1px;
    border-color: black;
    width: 45%;
  }
  p{
    color: #602040;
    border-style: groove;
    border-width: 3px;
    border-color: blue;
    width: 25%;
  }
  li {color: #9999ff;}
  img{
    border-style: dashed;
    border-color: orange;
    border-width: 6px;
    width: 25%
  }
  a {
    color: red;
    background-color: blue;
    padding: 1rem;
  }
  a[href="file:///Users/laurenrowe/Desktop/html100/semantic-elements/index.html"] {background-color: #006699;
  padding: 0.8rem;}
  a[href="index.html"] {background-color: #007700;
  padding: 0.7rem;}
  a[href="#"] {background-color: white;
  padding: 0.5rem;}

  body {background-color: #006666}
  .gold-text {color:#805500;}
  .important {font-weight: bold;}
  .white-text {color: white;}
  .purple-bold {color: purple;font-weight: bold;}
  .important:hover {background-color: pink;}
  .white-background {background-color: white;}
  .blue-background {background-color: blue;}
  .red-background {background-color: red;}
  .orange-background {background-color: orange;}
  .brown-text {color: #663300;}
  .purple-background {background-color: purple;}
  .small-text {font-weight: lighter;}

  .box {
    width: 300px;
    border: 10px solid black;
    background: gray;
  }
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

button, input, select, text area {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
  resize: horizontal;
}

input[type=submit] {
  width: 30%;
  background-color: gray;
  border-style: dotted;
  color: white;
  cursor: pointer;
  padding: 5px;
}

input {
  border-radius: 15px;
}
